* {
    color: white;
}

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#main-container {
    height: 600px;
    width: 396px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 8px solid rgb(0, 255, 255);
    border-radius: 40px;
    padding: 30px;
    gap: 12px;
}

.row {
    flex: 1;
    display: flex;
    gap: 12px;
}

#display {
    flex: 1;
    padding: 0px 50px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 75px;
    border-radius: 40px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0;
    border: 0;
    font-size: 50px;
    height: 90px;
}

.btn-digit,
#display {
    background-color: rgb(88, 88, 88);
}

.btn-digit,
.btn-operator,
#btn-eval {
    width: 90px;
    border-radius: 50%;
}

#btn-0 {
    flex: 1;
    border-radius: 40px;
}

.btn-extra {
    background-color: rgb(255, 115, 0);
    flex: 1;
    border-radius: 40px;
    width: 294px;
}

.btn-operator,
#btn-eval {
    background-color: rgb(0, 255, 255);
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}


